/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html, body { height: 100%; }

body { font-size: 12px; font-family: Arial, sans-serif; line-height: 1.4; color: #2a2e3d; min-width: 1215px; }
body.landing .topper { position: absolute; top: 0; left: 0; right: 0; z-index: 1; }
body.landing .page { padding-top: 0; margin-bottom: 0; }

a { color: #f55831; text-decoration: none; }
a:hover { text-decoration: underline; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -92px; }

.footer, .push { height: 92px; }

.page { padding-top: 35px; margin-bottom: 60px; }

.clear { *zoom: 1; }
.clear:after { content: " "; display: table; clear: both; }

.wrapper { width: 1090px; margin-left: auto; margin-right: auto; }

.narrow { width: 650px; margin-left: auto; margin-right: auto; }

.title { text-align: center; text-transform: uppercase; color: #f55831; font-weight: normal; margin-bottom: 2em; }

.social { font-size: 0; }
.social li { display: inline-block; vertical-align: middle; margin-left: 24px; }
.social a { display: block; height: 100%; font: 0/0 a; text-shadow: none; color: transparent; }
.social .mail { background: url('../img/icons-s34c9e3131c.png') 0 -749px no-repeat; width: 19px; height: 14px; }
.social .twitter { background: url('../img/icons-s34c9e3131c.png') 0 -686px no-repeat; width: 20px; height: 17px; }

.phone { float: left; line-height: 1; font-weight: normal; font-style: normal; }
.phone:before { display: inline-block; vertical-align: middle; margin-right: 5px; background: url('../img/icons-s34c9e3131c.png') 0 -713px no-repeat; width: 9px; height: 26px; content: ""; }

.logo { display: inline-block; vertical-align: top; margin-top: 15px; margin-right: 23px; background: url('../img/icons-s34c9e3131c.png') 0 -350px no-repeat; width: 129px; height: 53px; }
.logo a { display: block; font: 0/0 a; text-shadow: none; color: transparent; height: 100%; }

.nav { float: right; margin-top: 38px; font-size: 0; }
.nav li { display: inline-block; vertical-align: top; margin-left: 37px; line-height: 1; color: #f55831; font-size: 12px; font-weight: bold; text-transform: uppercase; }
.nav li:first-child { margin-left: 0; }
.nav li.is-active, .nav li:hover { color: #bccccc; }
.nav a { color: inherit; text-decoration: none; }
.nav a:hover { text-decoration: none; }

input, textarea { border: 2px solid #bccccc; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 18px; font-size: 15px; padding: 9px 15px; font-weight: bold; }
input:-moz-placeholder, input::-moz-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder { color: #bccccc; opacity: 1; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #bccccc; }
input:focus, textarea:focus { border: 2px solid #2a2e3d; }
input:focus:-moz-placeholder, input:focus::-moz-placeholder, textarea:focus:-moz-placeholder, textarea:focus::-moz-placeholder { color: transparent; opacity: 1; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: transparent; }

textarea { resize: vertical; margin: 0; line-height: 16px; padding: 10px 15px; }

.btn { display: inline-block; min-width: 127px; border: 4px solid #f55831; text-align: center; background: none; color: #f55831; font-size: 12px; line-height: 12px; text-transform: uppercase; text-decoration: none; padding: 10px 5px; font-weight: bold; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.btn:hover { border: 4px solid #27b2c2; color: #27b2c2; text-decoration: none; }

.layout { *zoom: 1; }
.layout:after { content: " "; display: table; clear: both; }
.layout .l-col1 { float: left; width: 320px; width: 29.4%; }
.layout .l-col2 { float: right; width: 705px; width: 64.7%; }

.bar { *zoom: 1; background: #2a2e3d url("../img/stars_bg.jpg"); color: #bccccc; }
.bar:after { content: " "; display: table; clear: both; }
.bar .phone { margin-top: 11px; }
.bar .social { position: relative; float: right; margin-top: 16px; z-index: 1; }

.bar-i { width: 1090px; margin-left: auto; margin-right: auto; position: relative; height: 48px; }
.bar-i:before { position: absolute; bottom: 0; right: 220px; content: ""; background: url('../img/icons-s34c9e3131c.png') 0 -579px no-repeat; width: 31px; height: 41px; }

.header { position: relative; background: #f0f5f5 url(../img/header_bg.jpg) 50% 0 repeat-x; margin-bottom: 8px; }
.header:after { position: absolute; top: 100%; left: 0; height: 8px; width: 100%; content: ""; background: url(../img/border.png) repeat-x; }

.header-i { width: 1090px; margin-left: auto; margin-right: auto; position: relative; height: 90px; }

.header__slogan { display: inline-block; vertical-align: top; margin-top: 35px; font-size: 16px; color: #899ba1; line-height: 1; }

.footer { position: relative; background: #2a2e3d url("../img/stars_bg.jpg"); color: #bccccc; }
.footer:before { position: absolute; top: 0; left: 0; width: 100%; height: 8px; content: ""; background: url(../img/border_white.png) repeat-x; }
.footer .phone { margin-top: 35px; }
.footer .social { position: relative; float: right; margin-top: 40px; z-index: 1; }

.footer-i { position: relative; width: 1090px; margin-left: auto; margin-right: auto; height: 92px; }
.footer-i:before { position: absolute; bottom: 0; right: 410px; content: ""; background: url('../img/icons-s34c9e3131c.png') 0 -413px no-repeat; width: 98px; height: 65px; }

.company-announce { position: relative; background: #f0f5f5; padding: 60px 0; margin-bottom: -8px; text-align: center; }

.company-announce-i { width: 1090px; margin-left: auto; margin-right: auto; }

.company-announce__txt { font-size: 32px; font-weight: bold; color: #27b2c2; }
.company-announce__txt:after { position: absolute; top: 100%; left: 0; height: 8px; width: 100%; content: ""; background: url(../img/border.png) repeat-x; }

.company-announce__button { margin-top: 1.6em; }

.feedback { padding-top: 55px; margin-bottom: 60px; border-top: 1px solid #f0f5f5; }

.feedback-i { width: 1090px; margin-left: auto; margin-right: auto; }

.feedback__title { float: left; color: #bccccc; font-size: 24px; font-weight: bold; }

.feedback__form { width: 515px; margin-left: auto; margin-right: auto; }
.feedback__form .btn { display: block; margin-left: auto; margin-right: auto; }
.feedback__form label { display: block; color: #bccccc; font-size: 15px; margin-bottom: 0.2em; }

.feedback__row { *zoom: 1; margin-bottom: 30px; }
.feedback__row:after { content: " "; display: table; clear: both; }

.feedback__field { position: relative; float: right; width: 47.5%; }
.feedback__field:first-child { float: left; }

.feedback__help { position: absolute; top: 0; left: 100%; width: 270px; margin-left: 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 50px; color: #27b2c2; font-size: 15px; display: block; }
.feedback__help:before { position: absolute; top: 30px; left: 0; background: url('../img/icons-s34c9e3131c.png') 0 -630px no-repeat; width: 33px; height: 26px; content: ""; }

.company { width: 1090px; margin-left: auto; margin-right: auto; margin-bottom: 45px; }
.company .title { text-align: left; margin-bottom: 0; }

.company__item { margin-bottom: 5em; }

.company__list { margin-left: -0.6%; }
.company__list li { float: left; width: 24.4%; height: 128px; line-height: 128px; background: #f0f5f5; margin-left: 0.6%; margin-bottom: 0.6%; text-align: center; }
.company__list li a { display: block; height: 100%; }
.company__list li img { display: inline-block; vertical-align: middle; max-width: 100%; }

.menu.is-fixed { position: fixed; width: 29.4%; max-width: 320px; top: 20px; }
.menu li.is-active a { border: 1px solid #d6e0e0; color: #bccccc; }
.menu a { display: block; padding: 16px 20px; font-size: 18px; line-height: 18px; border: 1px solid transparent; color: #27b2c2; text-decoration: none; }
.menu a:hover { text-decoration: none; }

.hentry:after { position: relative; display: block; margin: 50px auto; background: url('../img/icons-s34c9e3131c.png') 0 -666px no-repeat; width: 130px; height: 10px; content: ""; }
.hentry h2, .hentry h3 { color: #27b2c2; margin-bottom: 1em; }
.hentry p { margin-bottom: 1em; }
.hentry ul li { position: relative; padding-left: 15px; margin-bottom: 0.2em; }
.hentry ul li:before { position: absolute; left: 0; top: 5px; width: 6px; height: 6px; background: #27b2c2; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; content: ""; }
.hentry figure img { display: block; max-width: 100%; }

.hentry__content { position: relative; }

.hentry__meta { position: absolute; right: 100%; width: 150px; margin-right: 15px; }

.hentry__date { text-transform: uppercase; color: #27b2c2; font-weight: bold; }

.hentry__author { font-weight: bold; }

.case { margin-bottom: 20px; overflow: hidden; }

.case__pager { position: fixed; top: 50%; margin-top: -38px; right: 24px; z-index: 1; display: none; }
.case__pager.is-visible { display: block; }
.case__pager li { display: block; margin-left: auto; margin-right: auto; margin-top: 20px; width: 12px; height: 12px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #27b2c2; }
.case__pager li a { display: block; height: 100%; }
.case__pager li.is-active { background: white; background: transparent; -webkit-box-shadow: 0 0 0 2px #f55831; -moz-box-shadow: 0 0 0 2px #f55831; box-shadow: 0 0 0 2px #f55831; }
.case__pager li:first-child { margin-top: 0; }

.case__item { position: relative; min-height: 660px !important; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.case__item.first .case__content:before { background: url('../img/icons-s34c9e3131c.png') 0 -488px no-repeat; width: 576px; height: 81px; position: absolute; top: 140px; right: -50px; content: ""; }
.case__item.second .case__content:before { background: url('../img/icons-s34c9e3131c.png') 0 0 no-repeat; width: 376px; height: 172px; position: absolute; top: 75px; right: 0px; content: ""; }
.case__item.third .case__content:before { background: url('../img/icons-s34c9e3131c.png') 0 -182px no-repeat; width: 368px; height: 158px; position: absolute; top: 75px; right: 0px; content: ""; }
.case__item.is-animate .case__next { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.case__item.is-animate .case__heading { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.case__item.is-animate .case__content:before { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.case__item.is-animate .case__columns { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.case__content { position: relative; padding-top: 35px; margin-bottom: 30px; width: 1090px; margin-left: auto; margin-right: auto; font-size: 15px; color: #2a2e3d; }
.case__content:before { -webkit-transform: translateX(400px); -moz-transform: translateX(400px); -ms-transform: translateX(400px); -o-transform: translateX(400px); transform: translateX(400px); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.case__next { background: url('../img/icons-s34c9e3131c.png') 0 -773px no-repeat; width: 26px; height: 16px; cursor: pointer; position: absolute; bottom: 20px; left: 50%; margin-left: -13px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

.case__heading { position: relative; -webkit-transform: translateY(-400px); -moz-transform: translateY(-400px); -ms-transform: translateY(-400px); -o-transform: translateY(-400px); transform: translateY(-400px); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.case__columns { *zoom: 1; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s; }
.case__columns:after { content: " "; display: table; clear: both; }
.case__columns p { margin-bottom: 1em; }

.case__first, .case__last { float: left; width: 47%; }

.case__last { float: right; }
.case__last .case__subhead { color: #27b2c2; }

.case__title { font-size: 96px; color: #27b2c2; font-weight: bold; line-height: 1; margin-bottom: 60px; }

.case__num { font-size: 24px; color: #bccccc; font-weight: bold; }

.case__subhead { font-size: 20px; font-weight: bold; text-transform: uppercase; color: #f55831; margin-bottom: 1em; }

.case__lead { font-weight: bold; }
