// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book",arial,sans-serif

html, body
	height: 100%

body
	font-size: 12px
	font-family: Arial, sans-serif
	line-height: 1.4
	color: $dark
	min-width: 1215px
	&.landing
		.topper
			position: absolute
			top: 0
			left: 0
			right: 0
			z-index: 1
		.page
			padding-top: 0
			margin-bottom: 0

// common blocks
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -92px

.footer, .push
	height: 92px

.page
	padding-top: 35px
	margin-bottom: 60px

.clear
	+clr

=wrap
	width: 1090px
	margin-left: auto
	margin-right: auto
.wrapper
	+wrap

.narrow
	width: 650px
	margin-left: auto
	margin-right: auto

.title
	text-align: center
	text-transform: uppercase
	color: $orange
	font-weight: normal
	margin-bottom: 2em

.social
	font-size: 0
	li
		display: inline-block
		vertical-align: middle
		margin-left: 24px
	a
		display: block
		height: 100%
		+hidetext
	.mail
		+s(mail)
	.twitter
		+s(twitter)

.phone
	float: left
	line-height: 1
	font-weight: normal
	font-style: normal
	&:before
		display: inline-block
		vertical-align: middle
		margin-right: 5px
		+s(phone)
		content: ""

.logo
	display: inline-block
	vertical-align: top
	margin-top: 15px
	margin-right: 23px
	+s(logo)
	a
		display: block
		+hidetext
		height: 100%

.nav
	float: right
	margin-top: 40px
	font-size: 0
	li
		display: inline-block
		vertical-align: top
		margin-left: 37px
		line-height: 1
		color: $orange
		font-size: 12px
		font-weight: bold
		text-transform: uppercase
		&:first-child
			margin-left: 0
		&.is-active, &:hover
			color: $grey
	a
		color: inherit
		text-decoration: none
		&:hover
			text-decoration: none

input, textarea
	border: 2px solid $grey
	width: 100%
	+box
	line-height: 18px
	font-size: 15px
	padding: 9px 15px
	+placeholder-color($grey)
	font-weight: bold
	&:focus
		+placeholder-color(transparent)
		border: 2px solid $dark
textarea
	resize: vertical
	// resize: none
	margin: 0
	//height: 40px
	line-height: 16px
	padding: 10px 15px











