.hentries
.hentry
	&:after
		position: relative
		display: block
		margin: 50px auto
		+s(wave)
		content: ""
	// &:first-child
	// 	&:before
	// 		content: none
	h2, h3
		color: $blue
		margin-bottom: 1em
	p
		margin-bottom: 1em
	ul
		li
			position: relative
			padding-left: 15px
			margin-bottom: 0.2em
			&:before
				position: absolute
				left: 0
				top: 5px
				width: 6px
				height: 6px
				background: $blue
				+border-radius(50%)
				content: ""
	figure
		img
			display: block
			max-width: 100%
.hentry__tags
.hentry__content
	position: relative
.hentry__meta
	position: absolute
	right: 100%
	width: 150px
	margin-right: 15px
.hentry__socials
.hentry__date
	text-transform: uppercase
	color: $blue
	font-weight: bold
.hentry__author
	font-weight: bold