// Normally mainpage styles

.company-announce
	position: relative
	background: #f0f5f5
	padding: 60px 0
	margin-bottom: 8px
	text-align: center
.company-announce__txt
	font-size: 32px
	font-weight: bold
	color: #27b2c2
	&:after
		position: absolute
		top: 100%
		left: 0
		height: 8px
		width: 100%
		content: ""
		background: url(../img/border.png) repeat-x
.company-announce__button

.feedback
	margin-top: 55px
	margin-bottom: 60px
.feedback__in
	+wrap








