// *
// 	box-shadow: 0 0 1px red

.cases
	//margin-bottom: 20px
	position: relative
	overflow: hidden
	+r(breaksmall)
		margin-top: 40px
.case__pager
	position: absolute
	top: 50%
	margin-top: -38px
	right: 24px
	z-index: 100
	+r(landscape)
		display: none
	li
		display: block
		margin-left: auto
		margin-right: auto
		margin-top: 20px
		width: 12px
		height: 12px
		+border-radius(50%)
		background: $blue
		+hidetext
		cursor: pointer
		&.is-active
			background: #fff
			background: transparent
			+box-shadow(0 0 0 2px $orange)
		&:first-child
			margin-top: 0
.case__slider
	+wrap
	+r(small)
		height: auto !important
.case__item
	padding-top: 40px
	position: relative
	min-height: 700px !important
	+transition(all .2s linear)
	+r(breaklarge)
		min-height: auto !important
		height: auto !important
	+r(breaksmall)
		padding-top: 0
	&.first
		.case-bg
			+s(case_1)
			right: -50px
			bottom: 10px
	&.second
		.case-bg
			+s(case_2)
	&.third
		.case-bg
			+s(case_3)
			bottom: 20px
	// &.is-static
	// 	visibility: visible
	// 	.case__header-i
	// 		+transform(translateY(0))
	// 		opacity: 1 !important
	// 	.case-bg
	// 		+transform(translateX(0))
	// 		opacity: 1 !important
	// 	.case__columns
	// 		opacity: 1 !important
	// 		+transition(all .6s ease-in)
	// 		+transform(translateY(0))
	// 		+transition-delay(.4s)
	&.is-active
		z-index: 120 !important
		.case__header-i
			+transform(translateY(0))
			+opacity(1)
		.case-bg
			+transform(translateX(0))
			+opacity(1)
		.case__columns
			+opacity(1)
			+transition(all .6s ease-in)
			+transform(translateY(0))
			+transition-delay(.4s)
.case__content
	position: relative
	padding-top: 35px
	margin-bottom: 30px
	+wrap
	font-size: 15px
	color: $dark
	+r(breaktop)
		font-size: 12px
.case__next
	// +s(next)
	cursor: pointer
	position: absolute
	bottom: 0
	left: 0
	right: 0
	height: 60px
	z-index: 1000
	+r(breaksmall)
		display: none
	&:before
		position: absolute
		top: 50%
		left: 50%
		margin-left: -13px
		margin-top: -8px
		+s(next)
		content: ""
	&.is-disabled
		display: none
.case__header
	position: relative
.case__header-i
	position: relative
	+transform(translateY(-700px))
	+opacity(0)
	+transition(all .8s ease)
	z-index: 1
.case-bg
	position: absolute
	bottom: 0
	right: 0
	content: ""
	+transform(translateX(700px))
	+opacity(0)
	+transition(all .8s ease)
	+transition-delay(0s)
	+r(breaklarge)
		display: none
.case__columns
	+clr
	+opacity(0)
	+transition(all .3s ease-in)
	//+transform(translateY(1000px))
	+transition-delay(.1s)
	p
		margin-bottom: 1em
.case__first,
.case__last
	float: left
	width: 47%
	+r(breaksmall)
		float: none
		width: 100%
.case__last
	float: right
	.case__subhead
		color: $blue
.case__title
	margin-bottom: 60px
	font-weight: bold
	font-size: 96px
	color: red
	line-height: 1
	+r(breaksmall)
		font-size: 40px
		margin-bottom: .5em
	+r(breaktop)
		font-size: 44px
.case__num
	display: block
	font-size: 24px
	color: $grey
	font-weight: bold
	margin-bottom: 0.5em
.case__subhead
	margin-bottom: 1em
	font-weight: bold
	font-size: 20px
	text-transform: uppercase
	color: $orange