// *
// 	box-shadow: 0 0 1px red

.cases
	//margin-bottom: 20px
	position: relative
	overflow: hidden
.case__pager
	position: absolute
	top: 50%
	margin-top: -38px
	right: 24px
	z-index: 100
	li
		display: block
		margin-left: auto
		margin-right: auto
		margin-top: 20px
		width: 12px
		height: 12px
		+border-radius(50%)
		background: $blue
		+hidetext
		cursor: pointer
		&.is-active
			background: #fff
			background: transparent
			+box-shadow(0 0 0 2px $orange)
		&:first-child
			margin-top: 0
.case__slider
	+wrap
.case__item
	//padding-top: 150px
	position: relative
	min-height: 700px !important
	+transition(all .2s linear)
	&.first
		.case-bg
			+s(case_1)
			right: -50px
			bottom: 10px
	&.second
		.case-bg
			+s(case_2)
	&.third
		.case-bg
			+s(case_3)
			bottom: 20px
	&.is-active
		.case__header-i
			+transform(translateY(0))
			+opacity(1)
		.case-bg
			+transform(translateX(0))
			+opacity(1)
		.case__columns
			+opacity(1)
			+transition(all .6s ease-in)
			+transform(translateY(0))
			+transition-delay(.4s)
.case__content
	position: relative
	padding-top: 35px
	margin-bottom: 30px
	+wrap
	font-size: 15px
	color: $dark
.case__next
	// +s(next)
	cursor: pointer
	position: absolute
	bottom: 0
	left: 0
	right: 0
	height: 60px
	z-index: 1000
	&:before
		position: absolute
		top: 50%
		left: 50%
		margin-left: -13px
		margin-top: -8px
		+s(next)
		content: ""
	&.is-disabled
		display: none
.case__header
	position: relative
.case__header-i
	position: relative
	+transform(translateY(-700px))
	+opacity(0)
	+transition(all .8s ease)
.case-bg
	position: absolute
	bottom: 0
	right: 0
	content: ""
	+transform(translateX(700px))
	+opacity(0)
	+transition(all .8s ease)
	+transition-delay(0s)
.case__columns
	+clr
	+opacity(0)
	+transition(all .3s ease-in)
	//+transform(translateY(1000px))
	+transition-delay(.1s)
	p
		margin-bottom: 1em
.case__first,
.case__last
	float: left
	width: 47%
.case__last
	float: right
	.case__subhead
		color: $blue
.case__title
	margin-bottom: 60px
	font-weight: bold
	font-size: 96px
	color: $blue
	line-height: 1
.case__num
	font-size: 24px
	color: $grey
	font-weight: bold
.case__subhead
	margin-bottom: 1em
	font-weight: bold
	font-size: 20px
	text-transform: uppercase
	color: $orange